html {
  box-sizing: border-box;
  background-image: url("background.gif");
  background-size: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background:
}

.cijfers{
    width: 100%;
    height: 100%;

}

.blokje{
    background-color: rgba(150, 150, 150, 0.6);
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border-top: 8px solid #1C6EA4;
    border-radius: 1px;
    border-spacing: 100px;
    border-color: rgba(0, 0, 0, 1);
}

.tblokje{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  width: 500px;
  margin: 50px auto 20px;
  color: #f0f0f0;
  text-align: center;
}

h2 {
  color: #f0f0f0;
  text-align: center;
}

h3 {
  text-align: center;
  color: #f0f0f0;
}

p {

  text-align: center;
  color: #f0f0f0;

}

.nav {
  width: 427,px;
  margin: 0 auto;
  background: #1e8449;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 1);
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}
.nav__menu-item:hover {
  background-color: rgba(150, 150, 150, 1);
}
.nav__menu-item:hover .nav__submenu {
  display: block;
  background-color: rgba(150, 150, 150, 1);
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color:rgba(0, 0, 0, 1);
}

.nav__submenu-item {
  background: rgba(0, 0, 0, 1);
}

.nav__submenu-item:hover {
  background: rgba(150, 150, 150, 1);
}
